ul{
  list-style: none;
  padding: 0;
}



.section-wrapper{
   
  display: flex;
  
}



.sidebar-container{
  box-shadow: 4px 0px 8px 0px rgba(0,0,0,0.24);
  width: 300px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 20px;
  color:#ffffff;
  background-color:#333333;
  position: fixed;
  /**position: relative; **/
  
}





.sidebar-container .main-menu  li > *{
  width: 100%;
  padding: 10px 50px;
}

.sidebar-container .main-menu li:last-child {
  margin-top: auto;
  margin-bottom: 20px;
}


.sidebar-container .main-menu  .menu-header h3{
  letter-spacing: 0.15em;
  font-size: 24px;
  margin-top: 12px;
  color: rgba(255,255,255,0.36);
  font-weight: 400;
  font-family: Montserrat;
  width: 7%;
  height: 1.4%;
}



.sidebar-container nav{
  display: flex;
  flex-direction: column;
  min-height: 100%; 
} 


.sidebar-container .main-menu{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 35px;
}





.page-content{
  left:300px;
  position:relative ;
  padding: 30px;
  width: 81%;
  color: #3333333;
  /**background-color:white;**/
  background:#f1f0f6;;
}


.sidebar-section{
  padding: 5px;
  width: 10%;
  background: #f0f0f0;  
}



#link-nav, #link-name {
  display: flex;
  color:#ffffff;
  text-decoration: none;
  color:#f5eeee;
  font-size: 24px;;
}


#link-nav:hover{
  background-color: rgba(255,255,255,0.08);
  color: rgb(236, 234, 234);
  
}

#link-name{
  margin-top: -40px;
  margin-bottom: 20PX;

}


